{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/datatables') }}
{% endblock %}

{% block alerts %}
{{ include('shared/_flash_messages.html.twig') }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Informations de votre crédit</h1>
        </div>
    </div>

    <div>
            {{ form_start(form) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.rate) }}
                {{ form_row(form.monthlyPayment) }}
            {{ form_end(form) }}
        </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Simulation de crédit</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mois</th>
                            <th>Restant du</th>
                            <th>Intérêt</th>
                            <th>Capital remboursé</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Restant du</th>
                            <th>Intérêt</th>
                            <th>Capital remboursé</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for reimbursement in reimbursements %}
                        <tr>
                            <td>{{ reimbursement.date }}</td>
                            <td>{{ reimbursement.due }}</td>
                            <td>{{ reimbursement.interest }}</td>
                            <td>{{ reimbursement.reimbursed }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" align="center">Saisissez les données du crédit</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

            
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datatables') }}
{% endblock %}